## Working with Time Series

## Dates and Times in Python

#### Datetime library

In [2]:
from datetime import datetime

In [4]:
date =datetime(year=2024,month=2,day=5)
date

datetime.datetime(2024, 2, 5, 0, 0)

In [5]:

# import the date class
from datetime import date

In [6]:
date = date(2024,5,2)

In [7]:
date

datetime.date(2024, 5, 2)

### 1. Get today date, datetime

In [30]:
today = date.today()
today
print(today)

2024-02-05

In [31]:
datetime.today()

datetime.datetime(2024, 2, 5, 12, 20, 30, 70760)

In [32]:
print(datetime.today())

2024-02-05 12:20:36.149558

In [26]:
# Calling now() function
today = datetime.now()
print(today)

2024-02-05 12:19:12.614332

In [22]:
print("year =", today.year)
print("month =", today.month)
print("hour =", today.hour)
print("minute =", today.minute)
print("timestamp =", today.timestamp())

year = 2024
month = 2
hour = 12
minute = 16
timestamp = 1707115583.826348

### 2. convert as string

In [13]:
# Converting the date to the string
Str = today.isoformat()
print("String Representation", Str)

String Representation 2024-02-05

In [97]:
##A strftime() method converts the given date, time, or DateTime object to the string representation of the given format.

# Getting current date and time
now = datetime.now()
print("Without formatting", now)

Without formatting 2024-02-05 17:27:56.535480

In [98]:
print(now.strftime("%A %m %Y"))
print(now.strftime("\n %a %m %Y"))
# print(now.strftime("\n %I %p %s"))
print(now.strftime("\n %H: %M: %S"))
print(now.strftime("\n %d/%m/%y"))
print(now.ctime())

Monday 02 2024

 Mon 02 2024

 17: 27: 56

 05/02/24
Mon Feb  5 17:27:56 2024

In [86]:
datetime.strptime("5/2/2024 12:58", "%d/%m/%Y %H:%M")

datetime.datetime(2024, 2, 5, 12, 58)

In [85]:
dd = datetime.strptime("5/2/24 12:58", "%d/%m/%y %H:%M")
print(dd)

2024-02-05 12:58:00

In [99]:
# isocalendar() returns a 3-item tuple with ISO year, week number, and weekday number
now.isocalendar()

datetime.IsoCalendarDate(year=2024, week=6, weekday=1)

In [59]:
import time

In [61]:
d =datetime.fromtimestamp(time.time())
print(d)

2024-02-05 12:40:26.335523

### 3. Calculate time

In [17]:
from datetime import time

In [18]:
tod_time = time(12,14,0)

In [19]:
tod_time

datetime.time(12, 14)

In [20]:
# Creating Time object
Time = time(12,24,36,1212)
 
# Converting Time object to string
Str = Time.isoformat()
Str

'12:24:36.001212'

#### Date util library

In [14]:
from dateutil import parser

In [15]:
today =parser.parse("5th feb 2024")

In [16]:
today

datetime.datetime(2024, 2, 5, 0, 0)

### The strftime(format) method creates a string representing the time under the control of an explicit format string. Conversely, the datetime. strptime() method creates a datetime object from a string representing a date and time and a corresponding format string.

In [101]:
# Write a Python program to generate RFC 3339 timestamp - UTC iso format

In [75]:
from datetime import datetime, timezone
today = datetime.now().isoformat()

today_utc = datetime.now(timezone.utc).isoformat()
print("dtae",today,today_utc)

dtae 2024-02-05T12:55:22.138626 2024-02-05T07:25:22.138626+00:00

### Datetime Programs

In [69]:
## Counting days to an event

today = datetime.now()

my_event_date = datetime(2024,4,25)
print(today, my_event_date)

if my_event_date < today:
    print("old event")
time_of_event = abs(my_event_date - today)
print("Event will occur in days", time_of_event.days)

2024-02-05 12:47:50.245427 2024-04-25 00:00:00
Event will occur in days 79

In [96]:
# Get Timezone based on region

from pytz import timezone

format ="%Y-%m-%d %H:%M:%S %Z%z"

now_timezone =datetime.now(timezone("UTC"))
print(datetime.strftime(now_timezone, format))

timezones =['Asia/Kolkata', 'Europe/Kiev', 'America/New_York']
for tzone in timezones:
    # Convert to Asia/Kolkata time zone
    now_asia = now_timezone.astimezone(timezone(tzone))
    print(now_asia.strftime(format), tzone)

2024-02-05 09:02:03 UTC+0000
2024-02-05 14:32:03 IST+0530 Asia/Kolkata
2024-02-05 11:02:03 EET+0200 Europe/Kiev
2024-02-05 04:02:03 EST-0500 America/New_York

In [100]:
# Write a Python program to get the first and last second

import datetime
print("First second",datetime.time.min)
print("LAst second",datetime.time.max)

First second 00:00:00
LAst second 23:59:59.999999

In [103]:
# Write a Python program to print yesterday, today, tomorrow
from datetime import timedelta

today = datetime.date.today()
tomorrow = today+datetime.timedelta(days=1)
yesterday = today-datetime.timedelta(days=1)

print("Today date: ",today)
print("Tomorrow date: ",tomorrow)
print("Yesterday date: ",yesterday)

Today date:  2024-02-05
Tomorrow date:  2024-02-06
Yesterday date:  2024-02-04

In [112]:
#calculate the time 2 hours and 30 minutes from now
from datetime import datetime, timedelta

today = datetime.now()
future_time = today+ timedelta(hours=2,minutes=30)
print("Future_time", future_time)

Future_time 2024-02-05 22:00:45.381856

In [116]:
# calculate the number of days between two dates

# datetime1= datetime(2023,2,5)
# datetime2 = datetime(2024,2,5)
 #Using timedelta
datetime1 = datetime(2020, 2, 28)  # just before a leap day
datetime2 = datetime(2021, 2, 28) 

delta = datetime2 -datetime1

print("Days difference", delta.days)

day_difference = datetime2.toordinal()-datetime1.toordinal()
print("Ordinal difference", day_difference)

Days difference 366
Ordinal difference 366

## NUMPY Datetime64

In [118]:
# numpy datetime
import numpy as np

In [121]:
date =np.array("2024-02-05",dtype=np.datetime64)

In [123]:
print(date)

2024-02-05

In [126]:
print(date+np.arange(12),type(date+np.arange(12)))

['2024-02-05' '2024-02-06' '2024-02-07' '2024-02-08' '2024-02-09'
 '2024-02-10' '2024-02-11' '2024-02-12' '2024-02-13' '2024-02-14'
 '2024-02-15' '2024-02-16'] <class 'numpy.ndarray'>

In [127]:
np.datetime64('2021-07-04 12:59:59.50', 'ns')

numpy.datetime64('2021-07-04T12:59:59.500000000')

|Code  | Meaning     | Time span (relative) | Time span (absolute)   |
|------|-------------|----------------------|------------------------|
| `Y`  | Year        | ± 9.2e18 years       | [9.2e18 BC, 9.2e18 AD] |
| `M`  | Month       | ± 7.6e17 years       | [7.6e17 BC, 7.6e17 AD] |
| `W`  | Week        | ± 1.7e17 years       | [1.7e17 BC, 1.7e17 AD] |
| `D`  | Day         | ± 2.5e16 years       | [2.5e16 BC, 2.5e16 AD] |
| `h`  | Hour        | ± 1.0e15 years       | [1.0e15 BC, 1.0e15 AD] |
| `m`  | Minute      | ± 1.7e13 years       | [1.7e13 BC, 1.7e13 AD] |
| `s`  | Second      | ± 2.9e12 years       | [ 2.9e9 BC, 2.9e9 AD]  |
| `ms` | Millisecond | ± 2.9e9 years        | [ 2.9e6 BC, 2.9e6 AD]  |
| `us` | Microsecond | ± 2.9e6 years        | [290301 BC, 294241 AD] |
| `ns` | Nanosecond  | ± 292 years          | [ 1678 AD, 2262 AD]    |
| `ps` | Picosecond  | ± 106 days           | [ 1969 AD, 1970 AD]    |
| `fs` | Femtosecond | ± 2.6 hours          | [ 1969 AD, 1970 AD]    |
| `as` | Attosecond  | ± 9.2 seconds        | [ 1969 AD, 1970 AD]    |

## Pandas Datetime64

In [128]:
import pandas as pd
date = pd.to_datetime("4th of July, 2021")
date

Timestamp('2021-07-04 00:00:00')

In [129]:
date+ pd.to_timedelta(np.arange(12),'D')

DatetimeIndex(['2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07',
               '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11',
               '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15'],
              dtype='datetime64[ns]', freq=None)

In [130]:
print(date+ pd.to_timedelta(np.arange(12),'D'),type(date+ pd.to_timedelta(np.arange(12),'D')))

DatetimeIndex(['2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07',
               '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11',
               '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15'],
              dtype='datetime64[ns]', freq=None) <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

## Pandas Time Series: Indexing by Time

The most fundamental of these date/time objects are the `Timestamp` and `DatetimeIndex` objects.
While these class objects can be invoked directly, it is more common to use the `pd.to_datetime` function, which can parse a wide variety of formats.
Passing a single date to `pd.to_datetime` yields a `Timestamp`; passing a series of dates by default yields a `DatetimeIndex`, as you can see here:

In [134]:
index=pd.DatetimeIndex(['2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07',
               '2021-07-08'])
data=pd.Series([0,1,2,3,4], index=index)
print(data)

2021-07-04    0
2021-07-05    1
2021-07-06    2
2021-07-07    3
2021-07-08    4
dtype: int64

In [145]:
dates =pd.to_datetime(["5th Feb 2024","2024-02-6","02/07/2024",datetime(2024,2,4),"20240303"])

In [146]:
dates

DatetimeIndex(['2024-02-05', '2024-02-06', '2024-02-07', '2024-02-04',
               '2024-03-03'],
              dtype='datetime64[ns]', freq=None)

In [147]:
#Any DatetimeIndex can be converted to a PeriodIndex with the to_period function, with the addition of a frequency code; here we'll use 'D' to indicate daily frequency:

dates.to_period("D")

PeriodIndex(['2024-02-05', '2024-02-06', '2024-02-07', '2024-02-04',
             '2024-03-03'],
            dtype='period[D]')

In [148]:
dates - dates[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '-1 days', '27 days'], dtype='timedelta64[ns]', freq=None)

numpy.array- dtype, numpy.Datetime64, 
pd - to_datetime,to_timedelta, DatetimeIndex, to_period
pd - date_range with period, freq

### Pandas date range

In [149]:
date_range =pd.date_range("2024-02-05","2024-02-20")

In [150]:
date_range

DatetimeIndex(['2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08',
               '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16',
               '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20'],
              dtype='datetime64[ns]', freq='D')

In [151]:
pd.date_range("2024-02-05",periods=16)

DatetimeIndex(['2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08',
               '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16',
               '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20'],
              dtype='datetime64[ns]', freq='D')

In [153]:
pd.date_range("2024-02-05",periods=4,freq='H') # Hourly

DatetimeIndex(['2024-02-05 00:00:00', '2024-02-05 01:00:00',
               '2024-02-05 02:00:00', '2024-02-05 03:00:00'],
              dtype='datetime64[ns]', freq='H')

In [154]:
pd.date_range("2024-02-05",periods=3,freq='m') # Hourly

DatetimeIndex(['2024-02-29', '2024-03-31', '2024-04-30'], dtype='datetime64[ns]', freq='M')

To create regular sequences of Period or Timedelta values, the similar pd.period_range and pd.timedelta_range functions are useful. Here are some monthly periods:

In [156]:
pd.period_range("2024-02",periods =3,freq='M')

PeriodIndex(['2024-02', '2024-03', '2024-04'], dtype='period[M]')

In [159]:
pd.timedelta_range(0,periods=4, freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [161]:
pd.timedelta_range(0,periods=6,freq="2H30T")

TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:00', '0 days 05:00:00',
                '0 days 07:30:00', '0 days 10:00:00', '0 days 12:30:00'],
               dtype='timedelta64[ns]', freq='150T')

| Code | Description       | Code | Description          |
|------|-------------------|------|----------------------|
| `D`  | Calendar day      | `B`  | Business day         |
| `W`  | Weekly            |      |                      |
| `M`  | Month end         | `BM` | Business month end   |
| `Q`  | Quarter end       | `BQ` | Business quarter end |
| `A`  | Year end          | `BA` | Business year end    |
| `H`  | Hours             | `BH` | Business hours       |
| `T`  | Minutes           |      |                      |
| `S`  | Seconds           |      |                      |
| `L`  | Milliseconds       |      |                      |
| `U`  | Microseconds      |      |                      |
| `N`  | Nanoseconds       |      |                      |

| Code  | Description       | Code  | Description            |
|-------|-------------------|-------|------------------------|
| `MS`  | Month start       |`BMS`  | Business month start   |
| `QS`  | Quarter start     |`BQS`  | Business quarter start |
| `AS`  | Year start        |`BAS`  | Business year start    |


Additionally, you can change the month used to mark any quarterly or annual code by adding a three-letter month code as a suffix:

- `Q-JAN`, `BQ-FEB`, `QS-MAR`, `BQS-APR`, etc.
- `A-JAN`, `BA-FEB`, `AS-MAR`, `BAS-APR`, etc.

In the same way, the split point of the weekly frequency can be modified by adding a three-letter weekday code:

- `W-SUN`, `W-MON`, `W-TUE`, `W-WED`, etc.

On top of this, codes can be combined with numbers to specify other frequencies.
For example, for a frequency of 2 hours and 30 minutes, we can combine the hour (`H`) and minute (`T`) codes as follows:

In [162]:
from pandas.tseries.offsets import BDay
pd.date_range("2024-4-25",periods=6,freq=BDay())

DatetimeIndex(['2024-04-25', '2024-04-26', '2024-04-29', '2024-04-30',
               '2024-05-01', '2024-05-02'],
              dtype='datetime64[ns]', freq='B')

##Learn pandas_datareader

In [170]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: lxml in c:\users\a200160861\anaconda3\lib\site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\a200160861\anaconda3\lib\site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: pandas>=0.23 in c:\users\a200160861\anaconda3\lib\site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\a200160861\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\a200160861\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\a200160861\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\a200160861\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\a200160861\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\a200160861\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\a200160861\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\a200160861\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [171]:
from pandas_datareader import data

import pandas_datareader.data as web
f = web.DataReader('gs', 'iex-tops')

sp500 = data.DataReader('^GSPC', start='2018', end='2022',
                        data_source='yahoo')
sp500.head()

In [47]:
#REFERENCES:

In [49]:
buf="""Directive

Meaning

Example

Notes

%a

Weekday as locale’s abbreviated name.

Sun, Mon, …, Sat (en_US);
So, Mo, …, Sa (de_DE)
(1)

%A

Weekday as locale’s full name.

Sunday, Monday, …, Saturday (en_US);
Sonntag, Montag, …, Samstag (de_DE)
(1)

%w

Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.

0, 1, …, 6

%d

Day of the month as a zero-padded decimal number.

01, 02, …, 31

(9)

%b

Month as locale’s abbreviated name.

Jan, Feb, …, Dec (en_US);
Jan, Feb, …, Dez (de_DE)
(1)

%B

Month as locale’s full name.

January, February, …, December (en_US);
Januar, Februar, …, Dezember (de_DE)
(1)

%m

Month as a zero-padded decimal number.

01, 02, …, 12

(9)

%y

Year without century as a zero-padded decimal number.

00, 01, …, 99

(9)

%Y

Year with century as a decimal number.

0001, 0002, …, 2013, 2014, …, 9998, 9999

(2)

%H

Hour (24-hour clock) as a zero-padded decimal number.

00, 01, …, 23

(9)

%I

Hour (12-hour clock) as a zero-padded decimal number.

01, 02, …, 12

(9)

%p

Locale’s equivalent of either AM or PM.

AM, PM (en_US);
am, pm (de_DE)
(1), (3)

%M

Minute as a zero-padded decimal number.

00, 01, …, 59

(9)

%S

Second as a zero-padded decimal number.

00, 01, …, 59

(4), (9)

%f

Microsecond as a decimal number, zero-padded to 6 digits.

000000, 000001, …, 999999

(5)

%z

UTC offset in the form ±HHMM[SS[.ffffff]] (empty string if the object is naive).

(empty), +0000, -0400, +1030, +063415, -030712.345216

(6)

%Z

Time zone name (empty string if the object is naive).

(empty), UTC, GMT

(6)

%j

Day of the year as a zero-padded decimal number.

001, 002, …, 366

(9)

%U

Week number of the year (Sunday as the first day of the week) as a zero-padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.

00, 01, …, 53

(7), (9)

%W

Week number of the year (Monday as the first day of the week) as a zero-padded decimal number. All days in a new year preceding the first Monday are considered to be in week 0.

00, 01, …, 53

(7), (9)

%c

Locale’s appropriate date and time representation.

Tue Aug 16 21:30:00 1988 (en_US);
Di 16 Aug 21:30:00 1988 (de_DE)
(1)

%x

Locale’s appropriate date representation.

08/16/88 (None);
08/16/1988 (en_US);
16.08.1988 (de_DE)
(1)

%X

Locale’s appropriate time representation.

21:30:00 (en_US);
21:30:00 (de_DE)
(1)

%%

A literal '%' character.

%

"""

In [57]:
import pandas as pd
data1 = pd.read_html(dt, skiprows=0, header=0)[0]
data1

,Directive,Meaning,Example,Notes
0,%a,Weekday as locale’s abbreviated name.,"Sun, Mon, …, Sat (en_US); So, Mo, …, Sa (de_DE)",(1)
1,%A,Weekday as locale’s full name.,"Sunday, Monday, …, Saturday (en_US); Sonntag, ...",(1)
2,%w,"Weekday as a decimal number, where 0 is Sunday...","0, 1, …, 6",NaN
3,%d,Day of the month as a zero-padded decimal number.,"01, 02, …, 31",(9)
4,%b,Month as locale’s abbreviated name.,"Jan, Feb, …, Dec (en_US); Jan, Feb, …, Dez (de...",(1)
5,%B,Month as locale’s full name.,"January, February, …, December (en_US); Januar...",(1)
6,%m,Month as a zero-padded decimal number.,"01, 02, …, 12",(9)
7,%y,Year without century as a zero-padded decimal ...,"00, 01, …, 99",(9)
8,%Y,Year with century as a decimal number.,"0001, 0002, …, 2013, 2014, …, 9998, 9999",(2)
9,%H,Hour (24-hour clock) as a zero-padded decimal ...,"00, 01, …, 23",(9)
10,%I,Hour (12-hour clock) as a zero-padded decimal ...,"01, 02, …, 12",(9)
11,%p,Locale’s equivalent of either AM or PM.,"AM, PM (en_US); am, pm (de_DE)","(1), (3)"
12,%M,Minute as a zero-padded decimal number.,"00, 01, …, 59",(9)
13,%S,Second as a zero-padded decimal number.,"00, 01, …, 59","(4), (9)"
14,%f,"Microsecond as a decimal number, zero-padded t...","000000, 000001, …, 999999",(5)
15,%z,UTC offset in the form ±HHMM[SS[.ffffff]] (emp...,"(empty), +0000, -0400, +1030, +063415, -030712...",(6)
16,%Z,Time zone name (empty string if the object is ...,"(empty), UTC, GMT",(6)
17,%j,Day of the year as a zero-padded decimal number.,"001, 002, …, 366",(9)
18,%U,Week number of the year (Sunday as the first d...,"00, 01, …, 53","(7), (9)"
19,%W,Week number of the year (Monday as the first d...,"00, 01, …, 53","(7), (9)"
20,%c,Locale’s appropriate date and time representat...,Tue Aug 16 21:30:00 1988 (en_US); Di 16 Aug 21...,(1)
21,%x,Locale’s appropriate date representation.,08/16/88 (None); 08/16/1988 (en_US); 16.08.198...,(1)
22,%X,Locale’s appropriate time representation.,21:30:00 (en_US); 21:30:00 (de_DE),(1)
23,%%,A literal '%' character.,%,NaN