In [1]:
#Intro
print("Hello, World!")

Hello, World!

In [9]:
x,y =input("Enter numbers")

Enter numbers23

In [10]:
sum = int(x)+int(y)
sum

5

In [12]:
# Celsius to Fahrenheit
Celsius = 23
Farhen = (9/5 * Celsius) + 32
print(Farhen)

73.4

In [15]:
#calculate the area of a rectangle given its length and widt
Len=wid = 5

rec_area = 2*(Len+wid)
rec_area

20

In [16]:
# username, age
username=input("Enter name")
age=input("Your age")
print(f"Hi {username}! your age is {age}. Welcome")

Enter nameNarmi
Your age26
Hi Narmi! your age is 26. Welcome

In [19]:
#check if a number is even or odd

no = int(input())
"Even" if no % 2 == 0 else "odd"

32

'Even'

In [20]:
#Given a list of numbers, find the maximum and minimumvalues 

arr = input("Enter array or list")
lst =arr.split(',')
print(max(lst),min(lst))

Enter array or list1,2,3,4,7,8
8 1

In [22]:
#Create a Python function to check if a given string is a
#palindrome 

def check_palindrome(txt:str):
    res =  "yes,palindrome" if str == str[::-1] else "No not a palindrome"
    return res
str = input()    
check_palindrome(str)

sas

'yes,palindrome'

In [23]:
# compound interest for a given principal
# amount, interest rate, and time period 
principal = 2000
rate = 500
time = 20
A = principal * (pow((1 + rate / 100), time)) 
CI= A - principal
print("CI",CI)

CI 7.31231688012595e+18

In [24]:
# converts a given number of days
# into years, weeks, and days 

days = 500
year = days/365
weeks = (days % 365)/ 7
print(f"Days {days} year {year} weeks {weeks}")

Days 500 year 1.36986301369863 weeks 19.285714285714285

In [28]:
# Given a list of integers, find the sum of all positive
# numbers 
l = [1,3,5,7,-2, 5, 8,5]
res = 0
for num in l:
    if num > 0:
        res = res+ num
print("sum", res)

sum 34

In [30]:
# Create a program that takes a sentence as input and
# counts the number of words in it 
sen = input()
words =sen.split(" ")
print("count",len(words))

the sentence is to check count
count 6

In [31]:
# Implement a program that swaps the values of two
# variables.

x, y = 5, 6
y ,x = x, y
print(f"x :{x} y: {y}")

x :6 y: 5

In [32]:
# Create variables for storing a person's name, age, and
# average test score.
name = "testuser"
age = 26
ave_test_score = 75

In [33]:
# Concatenate two strings and print the result

str1 = "Hello"
str2 ="World"
str1+str2

'HelloWorld'

In [34]:
# Create a list of fruits and access elements using
# indexing.
lst_fruit = ["apple",'orange','banana','pinapple','mango']
lst_fruit[:3]

['apple', 'orange', 'banana']

In [35]:
lst_fruit[::-1]

['mango', 'pinapple', 'banana', 'orange', 'apple']

In [37]:
lst_fruit[::3]

['apple', 'pinapple']

In [40]:
# Given a list of numbers, find the sum and average)

lst = [2, 5, 6, 7, 9]
sum = 0
for ele in lst:
    sum = sum+ele
print("sum", sum)
print("ave", sum/ len(lst))

sum 29
ave 5.8

In [41]:
# Create a program that takes a temperature in Celsius and
# converts it to Kelvin)

def cel_to_kelvin(cels:int):
    kel =cels + 273.15
    return kel
cel_to_kelvin(57)

330.15

In [45]:
# Implement a program that checks if a given string is a
# palindrome)

str = "malayalam"
'yes' if ''.join(reversed(str)) == str else 'no'

'yes'

In [46]:
# Given a list of names, concatenate them into a single
# string separated by spaces)

lst_name = ['sam', 'ram', 'sun', 'nam', 'rom']

' '.join(lst_name)

'sam ram sun nam rom'

In [52]:
# Write a Python program to check if a given string is a
# pangram (contains all letters of the alphabet))
str = "The quick brown fox jumps over the lazy dog"
import string
alpha = set(string.ascii_lowercase)
def is_pangram(strr : str):
    return True if set(str.lower()) >= alpha else False

is_pangram(str)

True

In [53]:
new_s = "abcdefhijj"
is_pangram(new_s)

True

In [54]:
new_s1 = "an 12345 is not"
is_pangram(new_s1)

True

In [55]:
import re
 
def ispangram(string):
    # Remove all non-alphabetic characters from the string and convert to lowercase
    string = re.sub('[^a-z]', '', string.lower())
    # Use set to remove duplicates and count the number of unique letters
    unique_letters = len(set(string))
    # If the number of unique letters is 26, it is a pangram
    return unique_letters == 26
 
# Driver code
string = "The quick brown fox jumps over the lazy dog"
if ispangram(string):
    print("Yes")
else:
    print("No")

Yes

In [71]:
# Create a function to count the number of vowels in a
# given string
str = "gooddayisalwaysokay"
vow = set("aeiou")
# count =sum(str.count(v) for v in vow)
# count
v_count = 0
for i in str:
    if i in vow:
        v_count = v_count+ 1
print(v_count)

8

In [70]:
# string = "GeekforGeeks!"
# vowels = "aeiouAEIOU"
 
# count = sum(string.count(vowel) for vowel in vowels)
# print(count)

In [72]:
# Write a program that checks if a given number is
# positive, negative, or zero.

no = 4
if no==0:
    print("zero")
if no >0:
    print("positive")
else:
    print("negative")

positive

In [78]:
# llop prints the first 10 even numbers.
limit = 10
even_lst =[]
def get_even(limit):
    for i in range(1,limit+1):
        even_lst.append(int(i)*2)
    return even_lst
get_even(limit)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [79]:
# Given a list of words, count the number of words with
# more than five characters+

l_words = ["heelo",'jack','count','number',
          'characters','adfyusf']

In [80]:
count = 0
for words in l_words:
    if len(words) > 5:
        count = count+1
print(count)

3

### String

In [81]:
# Given a list of words, concatenate them into a single
# string separated by spaces
lst_name = ['sam', 'ram', 'sun', 'nam', 'rom']

' '.join(lst_name)

'sam ram sun nam rom'

In [82]:
# reverse a given string'

In [88]:
# Given a string, write a function to remove all vowels from
# it and return the modified string'

strr = "this will remove vowels and return"
vow = list("aeiou")
res = []
for ele in str:
    if ele not in vow:
        res.append(ele)
res = "".join(res)
print(res)

ths wll rmv vwls nd rtrn

In [101]:
# Write a Python program to find the length of the longest
# word in a sentence'

sen = "thise will a "
# maxx= []
maxx=sen.split()
    
print(max(maxx,key=len))

thise

In [106]:
test_list = ["all", "love", "and", "get", "educated", "by", "gfg"]
 
res = []
vow = "aeiou"
for sub in test_list:
     
    # check for vowel beginning
    flag = any(sub.startswith(ele) for ele in vow)
     
    if flag:
        res.append(sub)

In [107]:
res

['all', 'and', 'educated']

In [108]:
# remove all duplicate characters
string="geeksforgeeks"
p=""
for char in string:
    if char not in p:
        p=p+char
print(p)
k=list("geeksforgeeks")

geksfor

In [113]:
# mplement a program that takes a sentence and a word as
# input and checks if the word is present in the sentence.
string="geeks for"
word = "eee"

if word in string:
    print("yes")
else:
    print("no")

no

In [116]:
lst = [1,2, 3,4,5]
lst2= [2,4,6,8]
list(set(lst+lst2))

[1, 2, 3, 4, 5, 6, 8]

In [117]:
list(set(lst) | set(lst2))

[1, 2, 3, 4, 5, 6, 8]

In [118]:
sorted(lst + lst2)

[1, 2, 2, 3, 4, 4, 5, 6, 8]

In [119]:
test_list = [2,9,5, 1, 4] #Sort asc check
test_list == sorted(test_list)

False

In [120]:
sorted(test_list)

[1, 2, 4, 5, 9]

In [124]:
test_list.sort() # inplace list sort

In [125]:
test_list

[1, 2, 4, 5, 9]

In [127]:
from collections import Counter
 
# initializing list
arr = [1, 5, 3, 6, 3, 5, 6, 1]

 
# using Counter() + keys() to remove duplicated from list
temp = Counter(arr)
res = [*temp]

In [128]:
res

[1, 5, 3, 6]

In [132]:
temp.keys()

temp.items()

dict_items([(1, 2), (5, 2), (3, 2), (6, 2)])

In [133]:
temp.values()

dict_values([2, 2, 2, 2])

In [134]:
def Sorting(lst):
    lst.sort(key=len)
    return lst
     
# Driver code
lst = ["rohan", "amy", "sapna", "muhammad", 
       "aakash", "raunak", "chinmoy"]
print(Sorting(lst))

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

In [135]:
# function to find the longest length in the list
def longestLength(words):
    res=max(words,key=len)
    print("The word with the longest length is:", res,
          " and length is ", len(res))
 
 
# Driver Program
a = ["one", "two", "third", "four"]
longestLength(a)

The word with the longest length is: third  and length is  5

In [136]:
from collections import Counter 
input_dict = {'A': 1963, 'B': 1963, 'C': 1964, 'D': 1964, 'E': 1964, 'F': 1965, 'G': 1965, 'H': 1966, 'I': 1967, 'J': 1967, 'K': 1968, 'L': 1969 ,'M': 1969, 'N': 1970}

value, count = Counter(input_dict.values()).most_common(1)[0]

In [137]:
value, count

(1964, 3)

In [138]:
def most_frequent(List):
    return max(set(List), key = List.count)
 
List = [2, 1, 2, 2, 1, 3]
print(most_frequent(List))

2

In [141]:
occurence_count = Counter(List)
occurence_count.most_common(1)[0][0]

2

In [142]:
import statistics
from statistics import mode
 
def most_common(List):
    return(mode(List))
   
List = [2, 1, 2, 2, 1, 3]
print(most_common(List))

2

In [143]:
dict1 = {1: "one", 2: "two", 3: "three", 4: "four"}
print("Original Dictionary: ", dict1)

Original Dictionary:  {1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [147]:
del dict1[2]

In [148]:
dict1

{1: 'one', 3: 'three', 4: 'four'}

In [149]:
dict1.pop(1)

'one'

In [150]:
dict1

{3: 'three', 4: 'four'}

In [151]:
list1 = [1, 2, 3, 4, 55]
list2 = [2, 3, 90, 22]
 
# using any function
out = any(check in list1 for check in list2)

In [152]:
out

True

In [153]:
set(list1) & set(list2)

{2, 3}

In [154]:
inp_str = "GeeksforGeeks"
 
# using set() + count() to get count 
# of each element in string 
out = {x : inp_str.count(x) for x in set(inp_str )} 
out

{'k': 2, 's': 2, 'G': 2, 'r': 1, 'o': 1, 'e': 4, 'f': 1}

In [159]:
oup = Counter(inp_str) 
dict(oup)

{'G': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

In [162]:
#remove duplicate val in key
emp_data = { '001':'Ramu', '002':'Radha', '003':'Ramu', '004':'Raghav'}
emp_data

{'001': 'Ramu', '002': 'Radha', '003': 'Ramu', '004': 'Raghav'}

In [168]:
val = []
res_dic = {}
for k, v in emp_data.items():
    if v not in val:
        val.append(v)
        res_dic[k] = v
print(res_dic)

{'001': 'Ramu', '002': 'Radha', '004': 'Raghav'}

In [ ]:
# open both files 
with open('first.txt','r') as firstfile, open('second.txt','a') as secondfile: 
      
    # read content from first file 
    for line in firstfile: 
               
             # append content to second file 
             secondfile.write(line)

In [ ]:
my_list=['a', 'b', 'c']


with open('/path/to/filename.txt', mode='w', encoding='utf-8') as myfile:

for item in my_list:

    myfile.write(f"\n{item}")

In [ ]:
import pandas as pd 
 
# Read the CSV file into a DataFrame 
df = pd.read_csv('employee_details.csv')  # Replace 'employee_details.csv' with your file path 
 
# Calculate the average salary 
average_salary = df['salary'].mean() 
 
# Print the result 
print(f'The average salary of all employees is: {average_salary}')

In [ ]:
import pandas as pd

def calculate_total_sales(csv_file, product_name):

df = pd.read_csv(csv_file) # Read CSV file into a DataFrame

product_sales = df[df['Product'] == product_name]['Sales'] # Filter rows for the specified product

total_sales = product_sales.sum() # Calculate the total sales for the product

return total_sales

# Example usage

csv_file_path = 'your_file.csv'

specific_product = 'your_product'

result = calculate_total_sales(csv_file_path, specific_product)

print(f'Total sales for {specific_product}: ${result}')

In [ ]:
total = 0

with open('input.txt', 'r') as inp, open('output.txt', 'w') as outp:
   for line in inp:
       try:
           num = float(line)
           total += num
           outp.write(line)
       except ValueError:
           print('{} is not a number!'.format(line))

print('Total of all numbers: {}'.format(total))

In [170]:
import json

# A string containing JSON data
json_string = '{"employees":[{"firstName":"John", "lastName":"Doe"},{"firstName":"Anna", "lastName":"Smith"},{"firstName":"Peter", "lastName":"Jones"}]}'

# Parse the JSON string
data = json.loads(json_string)

print(data)

{'employees': [{'firstName': 'John', 'lastName': 'Doe'}, {'firstName': 'Anna', 'lastName': 'Smith'}, {'firstName': 'Peter', 'lastName': 'Jones'}]}

In [181]:
import json
 
# Data to be written
dictionary = {
    "name": "sathiyajith",
    "rollno": 56,
    "cgpa": 8.6,
    "phonenumber": "9976770500"
}
 
with open("sample.json", "w") as outfile:
    json.dump(dictionary, outfile)

In [182]:
with open('sample.json', 'r') as openfile:
 
    # Reading from json file
    json_object = json.load(openfile)
 
print(json_object)
print(type(json_object))

{'name': 'sathiyajith', 'rollno': 56, 'cgpa': 8.6, 'phonenumber': '9976770500'}
<class 'dict'>