# Play with List

In [5]:
# New list
L = []

In [6]:
L.append(5)

In [7]:
L

[5]

In [9]:
L.append([6,7])

In [10]:
L

[5, [6, 7]]

In [11]:
L.extend([8,9])

In [12]:
L

[5, [6, 7], 8, 9]

In [15]:
#insert position,  value
L.insert(0,4)

In [16]:
L

[4, 5, [6, 7], 8, 9]

In [19]:
# Add different element in list 

# L[0] = 'test' # It replace 4 with diffferent value ['test', 5, [6, 7], 8, 9]

# To add properly
L =[4, 5, [6, 7], 8, 9]
L.insert(0,'test')

In [21]:
L # Now you can see it add element, not replacing it

['test', 4, 5, [6, 7], 8, 9]


# Error -AttributeError: 'list' object has no attribute 'add'
L.add(3)

Complexities for Adding elements in a Lists(append() method):
Time Complexity: O(1)

Space Complexity: O(1)


Complexities for Adding elements in a Lists(insert() method):
Time Complexity: O(n)

Space Complexity: O(1)


Complexities for Adding elements in a Lists(extend() method):
Time Complexity: O(n)

Space Complexity: O(1)

So try to use append -to write better code

In [22]:
# Now reverse, reversed()

In [23]:
L

['test', 4, 5, [6, 7], 8, 9]

In [33]:
L.reverse() #Reversed in original list- descending

In [34]:
L

[9, 8, [6, 7], 5, 4, 'test']

In [29]:
print(reversed(L))

<list_reverseiterator object at 0x00000195F2E46E50>

In [35]:
L

[9, 8, [6, 7], 5, 4, 'test']

In [37]:
#The reversed() function returns a reverse iterator, which can be converted to a list using the list() function.
print(list(reversed(L)))

['test', 4, 5, [6, 7], 8, 9]

Removing Elements from the List

Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesn’t exist in the list. Remove() method only removes one element at a time, to remove a range of elements, the iterator is used. The remove() method removes the specified item.

In [40]:
L

[9, 8, [6, 7], 5, 4, 'test']

In [42]:

L.remove(5) # Remove based on value, if exists

In [43]:
L

[9, 8, [6, 7], 4, 'test']

L.remove(5) # Try, if not , then -> ValueError: list.remove(x): x not in list

In [45]:
#Lets remove even
List = [1, 2, 3, 4, 5, 6,
        7, 8, 9, 10, 11, 12]

In [47]:

List1 =[List.remove(element) for element in List if element %2 ==0]
print(List1)

[None, None, None, None, None, None]

In [48]:
#Voila - removed even value
List

[1, 3, 5, 7, 9, 11]

In [49]:
#Now lets remove range 6-10

#Lets remove even
List = [1, 2, 3, 4, 5, 6,
        7, 8, 9, 10, 11, 12]

[List.remove(element) for element in range(6,11)]
print(List)

[1, 2, 3, 4, 5, 11, 12]

Using pop() method
pop() function can also be used to remove and return an element from the list, but by default it removes only the last element of the list, to remove an element from a specific position of the List, the index of the element is passed as an argument to the pop() method.

In [50]:
List = [1, 2, 3, 4, 5, 6,
        7, 8, 9, 10, 11, 12]

In [51]:
List.pop() #pop last value by default

12

In [52]:
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [53]:
List.pop(10) #pop value based on position

11

In [54]:
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
# done: remove pop
# to do: delete clear

# Slicing of a List

To print elements from beginning to a range use:

[: Index]

To print elements from end-use:

[:-Index]

To print elements from a specific Index till the end use 

[Index:]

To print the whole list in reverse order, use 

[::-1]

In [62]:
List = ['G', 'E', 'E', 'K', 'S', 'F',
        'O', 'R', 'G', 'E', 'E', 'K', 'S']
print("Initial List: ")
print(List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

In [63]:
print(List[0:5])

['G', 'E', 'E', 'K', 'S']

In [64]:
print(List[:5])

['G', 'E', 'E', 'K', 'S']

In [66]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
print(L[:-5])

[1, 2, 3, 4, 5]

In [68]:
print(L[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
print(L[6:-2])

[7, 8]

In [70]:
print(L[1::-2]) # 2, 3, 4, 5, 6, 7, 8, 9 #Taking only 1st postion

[2]

In [73]:
print(L[2::-2]) #

[3, 1]

In [74]:
print(L[2::-5]) #

[3]

In [72]:
List[::-1] #reversing

['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [82]:
# Clear -takes no arguments -clear full list

In [78]:
  List.clear()

In [79]:
print(List)

[]

In [80]:
List = ['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

print(List.clear(3)) #TypeError: list.clear() takes no arguments (1 given)

In [83]:
# DElete list

In [84]:
List

['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [85]:
del List

List # NameError: name 'List' is not defined

In [87]:
L1 =['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [88]:
del L1[3]

In [89]:
L1 #Remove based on position

['S', 'K', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [92]:
del L1[3:4] #Remove G, based on index range

In [96]:
L1

['S', 'K', 'E', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [98]:
L1[0::-5] #Now delete S

['S']

In [99]:
del L1[0::-5]

In [100]:
L1

['K', 'E', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

Syntax

List.remove(index)

del list[index]

     or

del list

list.clear()

list.pop(index)

          Or

list.pop()

Differences

delete -
To delete value it uses the index. 
The del keyword can delete the single value from a list or delete the whole list at a time.
It throws index error in case of the index doesn’t exist in the list.

remove - 
To delete value this method uses the value as a parameter.
At a time it deletes only one value from the list.
It throws value error in case of the value doesn’t exist in the list.


pop - This method also uses the index as a parameter to delete. 
pop() returns deleted value.
At a time it deletes only one value from the list.
It throws index error in case of the index doesn’t exist in the list.

clear
It clears all list. Returns empty list, if not present

# index - provides position of element

In [60]:
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
List.index(2)

1

In [59]:
List.index(10)

9

In [111]:
List1= [1,'a',2,'b',3,4,5,6]

In [112]:
# Copy list

#Shallow copy
NewL = List1.copy()

In [113]:
NewL

[1, 'a', 2, 'b', 3, 4, 5, 6]

In [114]:
List1.insert(5,'c')

In [116]:
List1

[1, 'a', 2, 'b', 3, 'c', 4, 5, 6]

In [115]:
NewL

[1, 'a', 2, 'b', 3, 4, 5, 6]

In [117]:
NewL1 = List1.deepcopy()

AttributeError: 'list' object has no attribute 'deepcopy'

In [118]:
import copy
NewL1 =copy.deepcopy(List1)

In [119]:
NewL1

[1, 'a', 2, 'b', 3, 'c', 4, 5, 6]

In [120]:
List1.remove('c')

In [121]:
List1

[1, 'a', 2, 'b', 3, 4, 5, 6]

In [122]:
NewL1

[1, 'a', 2, 'b', 3, 'c', 4, 5, 6]

In [125]:
#Using list comprehension
old_list = List1
grid = [[2,3],[4,5]]

#If the contents of the list are primitive data types, you can use a comprehension

new_list = [i for i in old_list]
print("new_list",new_list)
#You can nest it for multidimensional lists like:

new_grid = [[i for i in row] for row in grid]
print("new_grid",new_grid)

new_list [1, 'a', 2, 'b', 3, 4, 5, 6]
new_grid [[2, 3], [4, 5]]

In [2]:
%%html
<figure class="table">
<table>
<thead>
<tr>
<th>Function</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://www.geeksforgeeks.org/append-extend-python/">Append()</a></td>
<td>Add an element to the end of the list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/append-extend-python/">Extend()</a></td>
<td>Add all elements of a list to another list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/list-methods-in-python-set-2-del-remove-sort-insert-pop-extend/">Insert()</a></td>
<td>Insert an item at the defined index</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/list-methods-in-python-set-2-del-remove-sort-insert-pop-extend/">Remove()</a></td>
<td>Removes an item from the list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/list-methods-in-python-set-2-del-remove-sort-insert-pop-extend/">Clear()</a></td>
<td>Removes all items from the list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-list-index/">Index()</a></td>
<td>Returns the index of the first matched item</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-list-function-count/">Count()</a></td>
<td>Returns the count of the number of items passed as an argument</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/sort-in-python/">Sort()</a></td>
<td>Sort items in a list in ascending order</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/list-methods-in-python-set-2-del-remove-sort-insert-pop-extend/">Reverse()</a></td>
<td>Reverse the order of items in the list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-list-copy-method/">copy()</a></td>
<td>Returns a copy of the list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-list-pop-method/">pop()</a></td>
<td>Removes and returns the item at the specified index. If no index is provided, it removes and returns the last item.</td>
</tr>
</tbody>
</table>
</figure>

In [3]:
%%html
<figure class="table">
<table>
<thead>
<tr>
<th>Function</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://www.geeksforgeeks.org/reduce-in-python/">reduce()</a></td>
<td>apply a particular function passed in its argument to all of the list elements stores the intermediate result and only returns the final summation value</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/sum-function-python/">sum()</a></td>
<td>Sums up the numbers in the list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/ord-function-python/">ord()</a></td>
<td>Returns an integer representing the Unicode code point of the given Unicode character</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-2-number-cmplist-method/">cmp()</a></td>
<td>This function returns 1 if the first list is “greater” than the second list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-max-function/">max()</a></td>
<td>return maximum element of a given list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-min-function/">min()</a></td>
<td>return minimum element of a given list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/any-all-in-python/">all()</a></td>
<td>Returns true if all element is true or if the list is empty</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/any-all-in-python/">any()</a></td>
<td>return true if any element of the list is true. if the list is empty, return false</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-len-function/">len()</a></td>
<td>Returns length of the list or size of the list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/enumerate-in-python/">enumerate()</a></td>
<td>Returns enumerate object of the list</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-itertools-accumulate/">accumulate()</a></td>
<td>apply a particular function passed in its argument to all of the list elements returns a list containing the intermediate results</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/filter-in-python/">filter()</a></td>
<td>tests if each element of a list is true or not</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-map-function/">map()</a></td>
<td>returns a list of the results after applying the given function to each item of a given iterable</td>
</tr>
<tr>
<td><a href="https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/">lambda()</a></td>
<td>This function can have any number of arguments but only one expression, which is evaluated and returned.</td>
</tr>
</tbody>
</table>
</figure>

In [102]:
import pandas as pd

In [106]:
data = pd.read_html(x,skiprows=0,header=0)[0]

In [107]:
data

     Function                                        Description
0    Append()              Add an element to the end of the list
1    Extend()         Add all elements of a list to another list
2    Insert()                Insert an item at the defined index
3    Remove()                      Removes an item from the list
4     Clear()                    Removes all items from the list
5     Index()        Returns the index of the first matched item
6     Count()  Returns the count of the number of items passe...
7      Sort()            Sort items in a list in ascending order
8   Reverse()             Reverse the order of items in the list
9      copy()                         Returns a copy of the list
10      pop()  Removes and returns the item at the specified ...

In [109]:
data1 = pd.read_html(y,skiprows=0,header=0)[0]
data1

        Function                                        Description
0       reduce()  apply a particular function passed in its argu...
1          sum()                    Sums up the numbers in the list
2          ord()  Returns an integer representing the Unicode co...
3          cmp()  This function returns 1 if the first list is “...
4          max()             return maximum element of a given list
5          min()             return minimum element of a given list
6          all()  Returns true if all element is true or if the ...
7          any()  return true if any element of the list is true...
8          len()     Returns length of the list or size of the list
9    enumerate()               Returns enumerate object of the list
10  accumulate()  apply a particular function passed in its argu...
11      filter()     tests if each element of a list is true or not
12         map()  returns a list of the results after applying t...
13      lambda()  This function can have any number of arguments...