# Play with set

A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements. 

Set are represented by { } (values enclosed in curly braces)

In [1]:
val ={'test','with','set'}

In [2]:
print(val)

#Time Complexity: O(1)
#Auxiliary Space: O(1)

{'with', 'set', 'test'}

In [4]:
myset = set(["test","val","with","set"])

In [5]:
myset

{'set', 'test', 'val', 'with'}

# insert items with set

Python set is an unordered datatype, which means we cannot know in which order the elements of the set are stored.

Time Complexity: O(n)
Auxiliary Space: O(n)

In [6]:
myset.add('newitem')

In [7]:
myset

{'newitem', 'set', 'test', 'val', 'with'}

#Check unique and  Immutable with Python Set

In [8]:
myset2 ={'Test','set','Test'}
myset2.add('new')

In [9]:
myset2 #Removed duplicate value Test

{'Test', 'new', 'set'}

In [10]:
myset[2] ="test3" #You cant add like dict

TypeError: 'set' object does not support item assignment

In [11]:
# can store heterogeneous elements
myset = {"Geeks", "for", 10, 52.7, True}
print(myset)

{True, 52.7, 'for', 10, 'Geeks'}

In [15]:
# Python Frozen Sets
normalset = {"Geeks", "for", 10, 52.7, True,"Geeks"}

frozen_set=frozenset(["a","b","1","a"])

In [16]:
normalset

{10, 52.7, 'Geeks', True, 'for'}

In [17]:
frozen_set

frozenset({'1', 'a', 'b'})

In [18]:
frozen_set.add('c') # can't modify frozen set

AttributeError: 'frozenset' object has no attribute 'add'

In [19]:
# Set operations

In [21]:
myset.add(11)

In [22]:
myset

{10, 11, 52.7, 'Geeks', True, 'for'}

In [23]:
myset.remove('for')

In [24]:
myset

{10, 11, 52.7, 'Geeks', True}

In [26]:
myset.remove(3)

KeyError: 3

In [30]:
new = myset.copy()

In [31]:
new

{10, 11, 52.7, 'Geeks', True}

In [32]:
myset

{10, 11, 52.7, 'Geeks', True}

In [33]:
myset.discard(-1) #if present discard, else none

In [34]:
myset

{10, 11, 52.7, 'Geeks', True}

In [37]:
myset.discard(52.7)

In [38]:
myset

{10, 11, 'Geeks', True}

In [39]:
# Python Program to
# demonstrate union of
# two sets
 
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

In [41]:
population = people.union(vampires)
population

{'Archil', 'Arjun', 'Idrish', 'Jay', 'Karan'}

In [42]:
population1 = people|dracula
population1

{'Archil', 'Deepanshu', 'Idrish', 'Jay', 'Raju'}

In [43]:
population1.difference(dracula)

{'Archil', 'Idrish', 'Jay'}

In [44]:
population1

{'Archil', 'Deepanshu', 'Idrish', 'Jay', 'Raju'}

In [45]:
population1.difference_update(people)

In [46]:
population1

{'Deepanshu', 'Raju'}

In [47]:
population.intersection(vampires)

{'Arjun', 'Karan'}

In [48]:
population.intersection_update(people)

In [49]:
population

{'Archil', 'Idrish', 'Jay'}

In [50]:
# Python program to
# demonstrate intersection
# of two sets
 
set1 = set()
set2 = set()
 
for i in range(5):
    set1.add(i)
 
for i in range(3,9):
    set2.add(i)
 
# Intersection using
# intersection() function
set3 = set1.intersection(set2)
 
print("Intersection using intersection() function")
print(set3)
 
# Intersection using
# "&" operator
set3 = set1 & set2
 
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [52]:
# Python program to
# demonstrate difference
# of two sets
 
set1 = set()
set2 = set()
 
for i in range(5):
    set1.add(i)
 
for i in range(3,9):
    set2.add(i)
 
# Difference of two sets
# using difference() function
print("set1",set1)
print("set2",set2)
set3 = set1.difference(set2)
 
print(" Difference of two sets using difference() function")
print(set3)
 
# Difference of two sets
# using '-' operator
set3 = set1 - set2
 
print("\nDifference of two sets using '-' operator")
print(set3)

set1 {0, 1, 2, 3, 4}
set2 {3, 4, 5, 6, 7, 8}
 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [1]:
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}

In [4]:
first_set |second_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
first_set.intersection(second_set)

{4, 5, 6}

In [56]:
first_set.union(second_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
first_set|second_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [58]:
first_set.intersection(second_set)

{4, 5, 6}

In [59]:
first_set.difference(second_set)

{1, 2, 3}

In [53]:
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set.symmetric_difference(second_set)

{1, 2, 3, 7, 8, 9}

>> a = {1, 2, 3, 4, 5, 6}
>>> b = {4, 5, 6, 7, 8, 9}
>>>
>>> a.update(b)          # a "union" operation
>>> a
{1, 2, 3, 4, 5, 6, 7, 8, 9}
>>>
>>> a &= b               # the "intersection" operation
>>> a
{4, 5, 6, 7, 8, 9}
>>>
>>> a -= set((7, 8, 9))  # the "difference" operation
>>> a
{4, 5, 6}
>>>
>>> a ^= b               # the "symmetric difference" operation
>>> a
{7, 8, 9}

Other Set Operations in Python
These are not so common, but they're useful in seeing how sets relate to others.

the a.issubset(b) method or <= operator returns true if the a is a subset of b
the a.issuperset(b) method or >= operator returns true if the a is a superset of b
the a.isdisjoint(b) method return true if there are no common elements between sets a and b

The frozenset datatype has all the methods of a set (such as difference(), symmetric_difference, and union) but because it is immutable, it doesn't have methods to add/remove elements.

key in s	containment check
key not in s	non-containment check
s1 == s2	s1 is equivalent to s2
s1 != s2	s1 is not equivalent to s2
s1 <= s2	s1 is subset of s2
s1 < s2	s1 is proper subset of s2
s1 >= s2	s1 is superset of s2
s1 > s2	s1 is proper superset of s2
s1 | s2	the union of s1 and s2

differences

remove - based on element
**
discard- based on element
####  https://www.geeksforgeeks.org/sets-in-python/