# Playing with tuples

Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can be of any type, and they are indexed by integers. 

Values of a tuple are syntactically separated by ‘commas’. Although it is not necessary, it is more common to define a tuple by closing the sequence of values in parentheses.

# Creation of tuple

In [1]:
# Empty tuple

tupple1 = ()

In [2]:
tupple1

()

In [3]:
tuple1 = ("testing",'a','tuple')
tuple2 = (1,2,3)
tuple_from = tuple("Example")

In [5]:
tuple3 = (1,"test",6,"test2")

In [6]:
print(tuple1)
print(tuple2)
print(tuple_from)
print(tuple3)

('testing', 'a', 'tuple')
(1, 2, 3)
('E', 'x', 'a', 'm', 'p', 'l', 'e')
(1, 'test', 6, 'test2')

In [8]:
("tuple ")*3

'tuple tuple tuple '

In [13]:
# Creating a test tuple using loop
n = 5
example = ("TestTuple")
for i in range(int(n)):
    example = (example,)
    print(example)

('TestTuple',)
(('TestTuple',),)
((('TestTuple',),),)
(((('TestTuple',),),),)
((((('TestTuple',),),),),)

Accessing of Tuples
Tuples are immutable, and usually, they contain a sequence of heterogeneous elements that are accessed via unpacking or indexing (or even by attribute in the case of named tuples). Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.

In [14]:
tuple_from

('E', 'x', 'a', 'm', 'p', 'l', 'e')

In [16]:
tuple_from[0:3]

('E', 'x', 'a')

In [17]:
#Tuple unpacking 

a, b, c = tuple2

print(a,b,c)

1 2 3

Concatenation of Tuples
Concatenation of tuple is the process of joining two or more Tuples. Concatenation is done by the use of ‘+’ operator. Concatenation of tuples is done always from the end of the original tuple. Other arithmetic operations do not apply on Tuples. 

Time Complexity: O(1)

Auxiliary Space: O(1)

In [20]:
example1 = (1,2,3,4,5)
example2 = ('a','b','c','d','e')

In [27]:
x =example1 + example2
x

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

Slicing of Tuple
Slicing of a Tuple is done to fetch a specific range or slice of sub-elements from a Tuple.

In [22]:
example1[2:]

(3, 4, 5)

In [24]:
example1[::-1]

(5, 4, 3, 2, 1)

In [26]:
example1[::3]

(1, 4)

In [29]:
x

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

In [28]:
x[::3]

(1, 4, 'b', 'e')

In [32]:
x[-5:-1:3]

('a', 'd')

In [35]:
x[-5::]

('a', 'b', 'c', 'd', 'e')

In [36]:
x

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

In [37]:
# Deleting a tuple

del x
print(x)

NameError: name 'x' is not defined

index( )	Find in the tuple and returns the index of the given value where it’s available
count( )	Returns the frequency of occurrence of a specified value

all()	Returns true if all element are true or if tuple is empty
any()	return true if any element of the tuple is true. if tuple is empty, return false
len()	Returns length of the tuple or size of the tuple
enumerate()	Returns enumerate object of tuple
max()	return maximum element of given tuple
min()	return minimum element of given tuple
sum()	Sums up the numbers in the tuple
sorted()	input elements in the tuple and return a new sorted list
tuple()	Convert an iterable to a tuple.

Similarities  Tuples VS Lists:
Differences

1. Functions that can be used for both lists and tuples:len(), max(), min(), sum(), any(), all(), sorted()
1. Methods that cannot be used for tuples:append(), insert(), remove(), pop(), clear(), sort(), reverse()

2 Methods that can be used for both lists and tuples:count(), Index()
2 we generally use ‘tuples’ for heterogeneous (different) data types and ‘lists’ for homogeneous (similar) data types.

3 Tuples can be stored in lists.	
3 Iterating through a ‘tuple’ is faster than in a ‘list’.

4 Lists can be stored in tuples.	
4‘Lists’ are mutable whereas ‘tuples’ are immutable.

5Both ‘tuples’ and ‘lists’ can be nested.	
5Tuples that contain immutable elements can be used as a key for a dictionary.

Complexities for creating tuples:

Time complexity: O(1)
Auxiliary Space : O(n)

Complexities for accessing elements in tuples:

Time complexity: O(1)
Space complexity: O(1)

Complexities for traversal/searching elements in tuples:

Time complexity: O(1)
Space complexity: O(1)